<br>
<div class="container">
    <h1 style="color: blue;">LISTA COLORES</h1>    
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE DEL COLOR</th>
          </tr>
        </thead>
        <tbody>
          <!--Con la propiedad [ngStyle] podemos fijar el color del fondo-->
          <tr *ngFor="let color of listaColores" [ngStyle]="{'background-color': color.color}">
            <th scope="row">{{color.id}}</th>
            <td>{{color.name | uppercase}}</td>
          </tr>
        </tbody>
      </table>
</div>
    